{% extends 'base.html' %} {% block body %}

<body>
    <div class="container">
        <h1>Sign-Ins Since</h1>
        <form action="{% url 'signins-since'%}" method="POST">
            {% csrf_token %} {{ since_form }}
            <div class="my-3"><button class="btn btn-info">Submit</button></div>
        </form>

        <table>
            {% for sign_in in sign_ins %}
            <tr>
                <td class="pr-4">
                    <h4>{{ sign_in.name }}</h4>
                </td>
                <td>
                    <h5>{{ sign_in.num }}</h5>
                </td>
            </tr>

            {% endfor %}
        </table>
    </div>
</body>
{% endblock body %}
